@font-face {
    font-family: 'DustismoRoman';
    src: url('Dustismo_Roman-webfont.eot');
    src: url('Dustismo_Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('Dustismo_Roman-webfont.woff') format('woff'),
         url('Dustismo_Roman-webfont.ttf') format('truetype'),
         url('Dustismo_Roman-webfont.svg#DustismoRomanRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
